body{
    margin: 400px;
}
h1{
    font-weight: bold;
    text-align: center;
}

form {
    border-style: solid;
    align-items: center;
    width: 600px;
    margin: auto;

}
label{
    font-weight: bold;
    font-size: 2rem;
}
a {
    align-items: center;
}